# Program structure

* Python programs are text files that contain rows of statements.
* The text files are translated into computer instructions using a Python interpreter.
* Empty lines are ignored.
* The text files with statements have the extension .py.
* The text files with statements are also called source code files.

In [136]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# Detta är en kommentar

for i in range(10):
	print(i)

0
1
2
3
4
5
6
7
8
9

# Built-in functions

* Much of the functionality of a language is provided as functions.
* Python contains a variety of function libraries for printing, numeric functions, string management and file management.
* A function is called by giving its name followed by a list of parameters within parentheses ().

In [137]:
print("This is the print-function", 42)

This is the print-function 42

Not all functions have parameters. In this case, an empty parenthesis indicates that no parameters are given.

In [138]:
print()

All functions in Python can have return values. Return values are assigned by using an equal sign (=) to the left of the function call.

In [139]:
y = abs(-4)

Functions can also have one or more return values. These are assigned through multiple variable references separated by commas to the left of the equal sign.

In [140]:
q, r = divmod(100,47)
print(q, r)

2 6

# Storing and referencing data

A fundamental feature of programming is the ability to work with stored data in different ways. In Python, variables are used to refer to data. In Python, it is not the variable itself that stores data, but variables are references to data in the computer's memory. It can be compared to a wardrobe ticket (variable reference) that allows the wardrobe to find your clothes in the wardrobe (computer memory)

Some key features of Python variable references:

* Python does not need to specify data types when assigning variables.
* The data type is determined by the data type in the assignment.
* A variable reference can refer to different data types during program execution.

In [141]:
# integer variables

a = 1
b = 15

# floating point variables

c = 14.5
d = 42.32

# Strings

e = "Hejsan"

# Lists

f = [1, 2, 4, "A"]

# Assignment of new type and value

a = "Hej på dig!"

## Namngivning av variabler

The following rules apply when naming variables in Python:

* Only letters from the English alphabet
* Numbers
* No special characters except underscores (_)
* Can't start with a number.

Allowed variable names

* first_name
* last_name
* number
* i2

Not allowed variable names

* 1var
* år

## More on variables

Variables in Python are always **references** to the underlying data

When a variable is assigned a value, the following happens:

1. Memory is allocated for the value to be stored.
2. A named variable reference is created - the variable.
3. The variable refers to the memory for the value.

Look at the following code:

In [142]:
a = 42
b = 84

In this example, variables **a** and **b** are assigned values 42 and 84. In memory, it will look like the following figure:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable1.png?raw=1)

Two variable references pointing to 2 different memory locations.

What happens in the following example:

In [143]:
a = b
print(a)
print(b)

84
84

We get what we expected. **a** has the same value as **b**. Behind the scenes is the following:

![variabla referenser 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable2.png?raw=1)

An assignment of a variable reference assigns the reference. **a** now points to the same data 84.

The memory occupied by the value 42 will be automatically deleted by Python. If we now assign **a** another value:

In [144]:
a = 21

 We get the following situation:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable3.png?raw=1)

It is possible to check this with the **id()** function in Python. The function returns the unique identifier for the variable reference. We perform the previous operations and simultaneously print the id of the variables.

In [145]:
a = 42
b = 84

print(a, id(a))
print(b, id(b))

a = b

print('a = b')
print(a, id(a))
print(b, id(b))

a = 21

print('a = 21')
print(a, id(a))
print(b, id(b))

42 140711221827680
84 140711221829024
a = b
84 140711221829024
84 140711221829024
a = 21
21 140711221827008
84 140711221829024

We see the first assignments generate unique IDs. After the assignment **a = b** , the ID is the same for **a and b**. After **a = 21**, a gets a new ID and b retains its ID.

# Data types in Python

## Integer and floating point values

In [146]:
a = 42 # integer variable
a

42

In [147]:
b = 42.0 # floating point variable
b

42.0

## Operators and expressions

In [148]:
2+2

4

In [149]:
(50-5*6)/4

5.0

In [150]:
7/3

2.3333333333333335

In [151]:
7/-3

-2.3333333333333335

In [152]:
3*3.75/1.5

7.5

## Flags and boolean variables

* Indicates an off or on position or something is true or false.
* **True** or **False** is used to assign a Boolean value to a variable reference.

In [153]:
c = True  # c now is a boolean variables
c

True

In [154]:
d = False
d

False

## Lists

List is a data type that can contain a list of values with different data types. Lists are defined with an initial \[and an ending \]. An empty list can be created by assigning an empty [].

In [155]:
values = [] # Empty list

Initial values in the list can be assigned by listing values between \[and \]:

In [156]:
values = [1, 3, 6, 4, 'hej', 1.0]

Individual values in a list are reached by entering the name of the list followed by an index between \[and \].

In [157]:
print(values[2])

6

Lists can be changed by assigning values to a specific index:

In [158]:
values[4] = 'hopp'
print(values)

[1, 3, 6, 4, 'hopp', 1.0]

Indexes in lists start at 0. That is, the first element is 0. Negative indexes indicate values from the end of the list.

In [ ]:
print(values[-1]) # Sista elementet i listan

In [ ]:
print(values[-3]) # Tredje sista elementet i listan.

### Lists and variable references

* A list consists of references to data in memory
* Data is not stored in the list.

The following figure and code example illustrate this:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable4.png?raw=1)

In [159]:
values = [1, 3, 6, 4, 'hej', 1.0, 42]

b = values[4]

print(b, id(b))
print(values[4], id(values[4]))

hej 1686724459800
hej 1686724459800

In this example, b is assigned the reference stored in position 4 in the ** values ** list. After this assignment, b and ** values [4] ** point to the same data at the same memory location as in the following figure:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable5.png?raw=1)

In most cases, variables work intuitively without the need for much thought, but it is good to know the underlying mechanisms.

### Index-notation and lists

It is possible to extract sub-areas of lists using index notation:

In [160]:
# Range from 1 >= idx < 3
print(values[1:3])

# Range from 1 >= idx < len(values)-2
print(values[1:-1])

# Range idx >= 3
print(values[3:])

# All elements in the list
print(values[:])

# Range from 0 >= idx < len(values)-2
print(values[:-2])

# Range from len(values)-3 >= idx < len(values)-1
print(values[-3:])

[3, 6]
[3, 6, 4, 'hej', 1.0]
[4, 'hej', 1.0, 42]
[1, 3, 6, 4, 'hej', 1.0, 42]
[1, 3, 6, 4, 'hej']
['hej', 1.0, 42]

### Sizes of lists

The number of elements in a list can be obtained using the generic function **len()** in Python.

In [161]:
print(len(values))

7

### Adding values to lists

Values can be added to a list using the **.append()** method

In [162]:
values.append(42)
print(values)

[1, 3, 6, 4, 'hej', 1.0, 42, 42]

Values can be inserted into lists at specific positions using the **.insert()** method.

In [163]:
values.insert(1, "squeeze")
print(values)

[1, 'squeeze', 3, 6, 4, 'hej', 1.0, 42, 42]

### Removing items from a list

Values in a list can be removed using the **.remove()** method.

In [164]:
print("Before remove()")
print(values)

values.remove("squeeze") # first value with "squeeze"

print("After remove()")
print(values)

Before remove()
[1, 'squeeze', 3, 6, 4, 'hej', 1.0, 42, 42]
After remove()
[1, 3, 6, 4, 'hej', 1.0, 42, 42]

They are also possible to use the generic **del** function to delete values in a list.

In [165]:
print("Before del[0]")
print(values)

del values[0]

print("After del[0]")
print(values)

Before del[0]
[1, 3, 6, 4, 'hej', 1.0, 42, 42]
After del[0]
[3, 6, 4, 'hej', 1.0, 42, 42]

It is also possible to remove sub-ranges in a list with **del**.

In [166]:
print("Före del[3:]")
print(values)

del values[3:]

print("Efter del[3:]")
print(values)

Före del[3:]
[3, 6, 4, 'hej', 1.0, 42, 42]
Efter del[3:]
[3, 6, 4]

It is also possible to use the list as a "stack" data type, i.e. a data type where data is added and deleted from the end of the list. A Python list has a special method, **.pop()** for this purpose:

In [167]:
print("List before pop()")
print(values)

v = values.pop()

print("Value returned from pop()")
print(v)
print("List after pop()")
print(values)

List before pop()
[3, 6, 4]
Value returned from pop()
4
List after pop()
[3, 6]

### Clearing a list

A list can be cleared by using the **.clear()** method or by assigning an empty list to a variable reference.

In [168]:
a = [4, 6, 3, 7, 9]
a = []

However, it is important to understand that in the above example, there may still be variable references that point to values in the list. An example of this is shown below:

In [169]:
a = [4, 6, 3, 7, 9]
b = a
a = []
print(b)

[4, 6, 3, 7, 9]

To really clear a list, the **.clear()** method is preferably used as follows:

In [170]:
a = [4, 6, 3, 7, 9]
b = a

a.clear()

print(b)

[]

### Nested lists

Lists are a very flexible data type in Python, which can contain any data type, including other lists. In the following example, a list of 5 elements is created, the second element contains a list of 2 elements:

In [171]:
a = [1, 2, [3, 4], 5, 6]

print(a[2])

[3, 4]

To reach a value in a nested list, you do this by adding an additional index operator as shown below:

In [172]:
a = [1, 2, [3, 4], 5, 6]

print(a[2][0])
print(a[2][1])

3
4

In this way, we can quickly create two-dimensional data structures in a simple way:

In [177]:
spread_sheet = []
spread_sheet.append([0]*10)
spread_sheet.append([0]*10)
spread_sheet.append([0]*10)
spread_sheet.append([0]*10)
print(spread_sheet)
print(len(spread_sheet))

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
4

It is important to remember that all values in lists are actually references to data in memory. This is illustrated in the following examples:

In [178]:
b = [3, 4]
a = [1, 2, b, 5, 6] # List b is added to list a
b[0] = -1           # a values is assigned index 0 in b

print(b)
print(a)

[-1, 4]
[1, 2, [-1, 4], 5, 6]

In the example, the value in the list a also changes when b is assigned, which is illustrated in the following figure:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable6.png?raw=1)

If you do not want this effect, you can use the **.copy()** method to make a copy of the list you add.

In [179]:
b = [3, 4]
a = [1, 2, b.copy(), 5, 6]
b[0] = -1

print(b)
print(a)

[-1, 4]
[1, 2, [3, 4], 5, 6]

The memory layout after the assignments is shown in the following figure:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/variable7.png?raw=1)

## Strings

* Stores sequences of letters.
* Many ways to create strings in Python.
* Strings cannot be changed when created (Immutable)

In [180]:
full_name = "Guido van Rossum"
print(full_name)

Guido van Rossum

In [181]:
full_name = 'Guido van Rossum'
print(full_name)

Guido van Rossum

If you need to use a particular quote character in a string, simply use the second quote character as a delimiter.

In [182]:
title = "don't give up"
print(title)

don't give up

In [183]:
sentence = 'He used the "Aguamenti" spell.'
print(sentence)

He used the "Aguamenti" spell.

Special control characters can be used to create special characters in a string. Some of these are shown in the following table:

![variable references 1](https://github.com/jonaslindemann/guide_to_python/blob/master/chapters/kapitel3/notebooks/images/strings1.png?raw=1)

In [184]:
full_name = "Guido van Rossum\nPython Creator" # Newline control character
print(full_name)

Guido van Rossum
Python Creator

Sometimes it may be desirable that Python does not interpret any control characters in the string. This can be achieved with so-called raw strands. These are indicated by the **r** prefix.

In [185]:
raw_string = r"Row1\nRow2"
std_string = "Row1\nRow2"
print(raw_string)
print(std_string)

Row1\nRow2
Row1
Row2

Another option for specifying more precisely how a string should be constructed is to use triple-quoted strings. These strings are interpreted by the control characters used when the string was created. Best illustrated with an example:

In [186]:
full_name = """Guido van Rossum
Python Creator
Python är fantastiskt"""
print(full_name)

Guido van Rossum
Python Creator
Python är fantastiskt

In the example, the line breaks given when the string is assigned are retained.

### Length of strings

The length of a string can be obtained by using the generic function **len()**, which is also can be used for lists:

In [187]:
s1 = "Detta är en sträng"
s2 = "Detta är en längre sträng"

print(s1, len(s1))
print(s2, len(s2))

Detta är en sträng 18
Detta är en längre sträng 25

### Concatenating strings

\+ operator can be used to put together new strings of existing ones:

In [188]:
s1 = "Det är kul med "
s2 = "Python"

s3 = s1 + s2

print(s3)

Det är kul med Python

### Repeating strings

\* operator can be used to repeat a string a number of times to create longer strings.

In [189]:
s1 = "Detta är en sträng vi vill stryka under"
s2 = "-" * len(s1)

print(s1)
print(s2)

Detta är en sträng vi vill stryka under
---------------------------------------

### Splitting strings

The string data type has a method, **.split()**, which can be used to split strings into smaller parts:

In [190]:
s = "Detta är en mening med en mängd ord!"

ord_lista = s.split()

print(ord_lista)

['Detta', 'är', 'en', 'mening', 'med', 'en', 'mängd', 'ord!']

The argument to the function specifies which character should split the string.

In [191]:
s = "123, 456, 123, 35456, 12, 34"

delar = s.split(",")

print(delar)

['123', ' 456', ' 123', ' 35456', ' 12', ' 34']

### Creating strings from lists

If you have lists of strings, you can combine them into strings using the **.join()** method.

In [192]:
list_of_strings = ["Detta", "är", "en", "lista", "med", "ord"]
list_of_things = ["tree", "house", "pencil", "eraser"]

s1 = " ".join(list_of_strings) # Append with spaces
s2 = ",".join(list_of_things)  # Append with comma
s3 = "".join(list_of_things)   # Append withou spacing.

print(s1)
print(s2)
print(s3)

Detta är en lista med ord
tree,house,pencil,eraser
treehousepencileraser

### Searching strings

A very common operation on strings is to check if a sub string is found in a string. This is most easily done with the operator **in**. If the sub string is found in the string, **returns** **True** otherwise **False**.

In [196]:
s = "Far far away, behind the word mountains, far from the countries " \
"Vokalia and Consonantia, there live the blind texts. Separated they " \
"live in Bookmarksgrove right at the coast of the Semantics, a large " \
"language ocean."
print("Vokalia" in s)

True

Another option is to use the **.find()** method, which also returns the location of where the string is found.

In [197]:
s = "Far far away, behind the word mountains, far from the countries " \
"Vokalia and Consonantia, there live the blind texts. Separated they " \
"live in Bookmarksgrove right at the coast of the Semantics, a large " \
"language ocean."
pos = s.find("far")
print(pos)

pos = s.find("far", pos+1)
print(pos)

pos = s.find("python")
print(pos)

4
41
-1

### Stripping leading and trailing spaces

In many cases when reading data from files, the lines often contain extra spaces that need to be cleared. This can be done with the **.strip()** method.

In [199]:
s1 = "     Detta är en sträng med extra utrymme. "
s2 = s1.strip()

print(">" + s1 + "<")
print(">" + s2 + "<")

>     Detta är en sträng med extra utrymme. <
>Detta är en sträng med extra utrymme.<

There is the special version of this method that cleans the right and left sides of the string, respectively:

In [200]:
s1 = " Detta är en sträng med extra utrymme. "
s2 = s1.rstrip()

print(">" + s1 + "<")
print(">" + s2 + "<")

> Detta är en sträng med extra utrymme. <
> Detta är en sträng med extra utrymme.<

In [201]:
s1 = " Detta är en sträng med extra utrymme. "
s2 = s1.lstrip()

print(">" + s1 + "<")
print(">" + s2 + "<")

> Detta är en sträng med extra utrymme. <
>Detta är en sträng med extra utrymme. <

## Querying the underlying datatype of a variable reference

In some cases, you are interested in finding out the underlying data type that a variable refers to. This can be done using the **type()** function, which prints the actual data type.

In [202]:
a = 42
b = 42.0
c = True
d = 'Hejsan'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

# Dictionaries

Dictionaries in Python are a special form of data type where data is stored in key / value pairs. Finding a key in a dictionary is usually a quick operation.

Dictionaries use "curly" brackets, \ {\} instead of [] to define the content.

An empty dictionary is created with the following code:

In [203]:
values = {}

Initial values can be assigned by listing key / value pairs separately with commas. The value pair is specified with the notation *key:value* notation.

In [204]:
values = {
    "Petra":"9046112", "David":"1234145",
    "Olle":"534532"
}
print(values)

{'Petra': '9046112', 'David': '1234145', 'Olle': '534532'}

The values in a dictionary are reached by using \[and \], although the index value is replaced by the key value.

In [205]:
print(values["David"])
print(values["Petra"])

1234145
9046112

Assigning values in a dictionary is done in the same way as assigning lists. The index value is now instead the key value:

In [206]:
values["Peter"] = 734847
print(values)

{'Petra': '9046112', 'David': '1234145', 'Olle': '534532', 'Peter': 734847}

## Finding values in a dictionary

Similar to lists, you can check if a particular key is in a dictionary by using the **in** operator. If the key is in the lookup list, **True** is returned, otherwise **False** is returned.

In [207]:
idx = {
    'Olle': '534532',
    'David': '1234145',
    'Petra': '9046112'
}
print('Petra' in idx)
print('Bosse' in idx)

True
False

## Number of values in a dictionary

As before, the number of values in a dictionary can be obtained by the function **.len()**.

In [ ]:
print(len(values))

## Adding values to a dictionary

Values can be added to a list by assigning values to keys:

In [ ]:
values["Guido"] = 187493
print(values)

## Nested dictionaries

Similar to lists, dictionaries can also be nested and contain several different types of data structures:

In [ ]:
config = {
    "general":
        {
            "username":"olle",
            "temp_path":"C:\\TEMP"
        },
    "constants":
        {
            "pi":3.14159,
            "g":9.82
        },
    "items":
        {
            "values": [1, 2, 3, 4, 5]
        }
}

print(config["general"]["username"])
print(config["constants"]["pi"])
print(config["items"]["values"][1])

# Loops and conditional statements

## Code blocks in Python

In Python statements are grouped in codeblocks by the structure of the source file. A group of statements in considered grouped if it is proceeded by a : and the following statements are indented.

In [208]:
for i in range(5): # Markerar start av kodblock
    print(i)       # Indraget kodblock.
                   # Tillhör for-satsen

print("Denna sats tillhör inte kodblocket")

0
1
2
3
4
Denna sats tillhör inte kodblocket

## Loops

### Repeating a code block a given number of times - for

In [209]:
for i in range(10):  # Sekvens 0 - 9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [210]:
for i in range(5, 11): # Sekvens 5 - 10
    print(i)

5
6
7
8
9
10

In [211]:
for i in range(5,21,3): # Sekvens med steglängd 3
    print(i)

5
8
11
14
17
20

### Iterating over a list

In [212]:
values = [1, 3, 6, 4, 'hej', 1.0, 42]

for value in values:
    print(value)

1
3
6
4
hej
1.0
42

### Iterating over a list with a loop variable

In [213]:
a = ["a", "b", "c", "d", "e"]
b = [5, 4, 3, 2, 1]
for i in range(len(a)):
    print(a[i], ",", b[i])

a , 5
b , 4
c , 3
d , 2
e , 1

### Iterating over multiple lists

In [214]:
x_pos = [50, 130, 200, 250]
y_pos = [50, 70, 220, 300]

for x, y in zip(x_pos, y_pos):
    print(x, y)

50 50
130 70
200 220
250 300

### Iterating over nested lists

In [217]:
points = [[50,50], [130,70], [200,220], [250,300]]

for p in points:
    for coord in p:
        print(coord)

50
50
130
70
200
220
250
300

### Iterating using the while-statement

In [218]:
from math import *

sum = 0.0
err = 1e-2
k = 1

while abs(pi-4*sum)>err:
    sum += pow(-1, k+1) / (2*k-1)
    k = k + 1
    print("Iteration", k, "pi = ", 4*sum, "err = ", abs(-pi-4*sum))

Iteration 2 pi =  4.0 err =  7.141592653589793
Iteration 3 pi =  2.666666666666667 err =  5.80825932025646
Iteration 4 pi =  3.466666666666667 err =  6.60825932025646
Iteration 5 pi =  2.8952380952380956 err =  6.036830748827889
Iteration 6 pi =  3.3396825396825403 err =  6.481275193272333
Iteration 7 pi =  2.9760461760461765 err =  6.11763882963597
Iteration 8 pi =  3.2837384837384844 err =  6.4253311373282775
Iteration 9 pi =  3.017071817071818 err =  6.158664470661611
Iteration 10 pi =  3.2523659347188767 err =  6.39395858830867
Iteration 11 pi =  3.0418396189294032 err =  6.183432272519196
Iteration 12 pi =  3.232315809405594 err =  6.373908462995387
Iteration 13 pi =  3.058402765927333 err =  6.199995419517126
Iteration 14 pi =  3.2184027659273333 err =  6.359995419517126
Iteration 15 pi =  3.0702546177791854 err =  6.2118472713689785
Iteration 16 pi =  3.208185652261944 err =  6.349778305851737
Iteration 17 pi =  3.079153394197428 err =  6.220746047787221
Iteration 18 pi =  3.200365515409549 err =  6.3419581689993425
Iteration 19 pi =  3.0860798011238346 err =  6.227672454713628
Iteration 20 pi =  3.1941879092319425 err =  6.335780562821736
Iteration 21 pi =  3.09162380666784 err =  6.233216460257633
Iteration 22 pi =  3.189184782277596 err =  6.33077743586739
Iteration 23 pi =  3.0961615264636424 err =  6.237754180053436
Iteration 24 pi =  3.1850504153525314 err =  6.3266430689423245
Iteration 25 pi =  3.099944032373808 err =  6.241536685963601
Iteration 26 pi =  3.1815766854350325 err =  6.323169339024826
Iteration 27 pi =  3.1031453128860127 err =  6.244737966475806
Iteration 28 pi =  3.1786170109992202 err =  6.320209664589013
Iteration 29 pi =  3.1058897382719475 err =  6.247482391861741
Iteration 30 pi =  3.1760651768684385 err =  6.317657830458232
Iteration 31 pi =  3.108268566698947 err =  6.24986122028874
Iteration 32 pi =  3.1738423371907505 err =  6.315434990780544
Iteration 33 pi =  3.110350273698687 err =  6.25194292728848
Iteration 34 pi =  3.1718887352371485 err =  6.313481388826942
Iteration 35 pi =  3.112187242699835 err =  6.253779896289628
Iteration 36 pi =  3.1701582571925884 err =  6.311750910782381
Iteration 37 pi =  3.1138202290235744 err =  6.255412882613367
Iteration 38 pi =  3.1686147495715193 err =  6.3102074031613125
Iteration 39 pi =  3.115281416238186 err =  6.25687406982798
Iteration 40 pi =  3.167229468186238 err =  6.308822121776031
Iteration 41 pi =  3.116596556793833 err =  6.258189210383627
Iteration 42 pi =  3.1659792728432157 err =  6.307571926433009
Iteration 43 pi =  3.117786501758878 err =  6.259379155348672
Iteration 44 pi =  3.1648453252882898 err =  6.306437978878083
Iteration 45 pi =  3.118868313794037 err =  6.26046096738383
Iteration 46 pi =  3.163812134018756 err =  6.305404787608549
Iteration 47 pi =  3.1198560900627124 err =  6.2614487436525055
Iteration 48 pi =  3.1628668427508844 err =  6.3044594963406775
Iteration 49 pi =  3.1207615795929895 err =  6.262354233182783
Iteration 50 pi =  3.161998692995051 err =  6.303591346584844
Iteration 51 pi =  3.121594652591011 err =  6.263187306180804
Iteration 52 pi =  3.1611986129870506 err =  6.302791266576843
Iteration 53 pi =  3.12236366153074 err =  6.263956315120533
Iteration 54 pi =  3.160458899625978 err =  6.302051553215771
Iteration 55 pi =  3.1230757220558845 err =  6.264668375645678
Iteration 56 pi =  3.1597729697623063 err =  6.301365623352099
Iteration 57 pi =  3.12373693372627 err =  6.265329587316064
Iteration 58 pi =  3.159135163814766 err =  6.3007278174045585
Iteration 59 pi =  3.124352555119114 err =  6.2659452087089065
Iteration 60 pi =  3.158540589307148 err =  6.3001332428969405
Iteration 61 pi =  3.1249271439289967 err =  6.266519797518789
Iteration 62 pi =  3.157984995168666 err =  6.29957764875846
Iteration 63 pi =  3.125464669965414 err =  6.267057323555207
Iteration 64 pi =  3.157464669965414 err =  6.299057323555207
Iteration 65 pi =  3.125968606973288 err =  6.267561260563081
Iteration 66 pi =  3.1569763589112725 err =  6.298569012501066
Iteration 67 pi =  3.1264420077662343 err =  6.268034661356028
Iteration 68 pi =  3.156517195736159 err =  6.298109849325952
Iteration 69 pi =  3.126887566106529 err =  6.268480219696322
Iteration 70 pi =  3.1560846463985 err =  6.297677299988293
Iteration 71 pi =  3.127307667981234 err =  6.268900321571027
Iteration 72 pi =  3.155676462307475 err =  6.297269115897269
Iteration 73 pi =  3.127704434335447 err =  6.26929708792524
Iteration 74 pi =  3.155290641231999 err =  6.296883294821792
Iteration 75 pi =  3.1280797568782575 err =  6.269672410468051
Iteration 76 pi =  3.15492539446215 err =  6.296518048051944
Iteration 77 pi =  3.1284353282369843 err =  6.270027981826777
Iteration 78 pi =  3.1545791190866574 err =  6.29617177267645
Iteration 79 pi =  3.128772667473754 err =  6.270365321063547
Iteration 80 pi =  3.1542503744801236 err =  6.295843028069917
Iteration 81 pi =  3.129093141775721 err =  6.270685795365514
Iteration 82 pi =  3.1539378622726155 err =  6.295530515862408
Iteration 83 pi =  3.129397984972002 err =  6.270990638561795
Iteration 84 pi =  3.1536404092144266 err =  6.29523306280422
Iteration 85 pi =  3.129688313406043 err =  6.271280966995836
Iteration 86 pi =  3.1533569524592977 err =  6.294949606049091
Iteration 87 pi =  3.129965139593801 err =  6.271557793183594
Iteration 88 pi =  3.153086526877038 err =  6.294679180466831
Iteration 89 pi =  3.1302293840198954 err =  6.271822037609688
Iteration 90 pi =  3.1528282540763923 err =  6.2944209076661854
Iteration 91 pi =  3.1304818853613083 err =  6.2720745389511015
Iteration 92 pi =  3.1525813328751204 err =  6.294173986464914
Iteration 93 pi =  3.1307234093778527 err =  6.272316062967645
Iteration 94 pi =  3.1523450309994745 err =  6.293937684589268
Iteration 95 pi =  3.1309546566679236 err =  6.272547310257717
Iteration 96 pi =  3.152118677831945 err =  6.293711331421738
Iteration 97 pi =  3.131176269454982 err =  6.272768923044775
Iteration 98 pi =  3.151901658056018 err =  6.293494311645811
Iteration 99 pi =  3.1313888375431977 err =  6.272981491132991
Iteration 100 pi =  3.1516934060711166 err =  6.293286059660909
Iteration 101 pi =  3.1315929035585537 err =  6.273185557148347

## Conditional statements

In [219]:
i = 0
if i == 0:
    print("i = 0")

i = 0

In [220]:
if i == 0:
    print("i = 0")
else:
    print("i är inte 0")

i = 0

In [221]:
if i == 0:
    print("i == 0")
elif i < 1:
    print("i < 1")
elif i > 1:
    print("i > 1")
else:
    print("Mittemellan")

i == 0

### Nested if-statements

In [222]:
if i == 0:
    print("i == 0")
else:
    if i > 0:
        print("i > 0")
    elif i < 0:
        print("i < 0")

i == 0

## Controlling loop-iterations

An iteration can be controlled by:

* break - exits the looop
* continue - continue to next iteration

In [223]:
for i in range(20):
    if i == 10:
        print("exits loop")
        break
    if i == 5:
        print("Go to next iteration")
        continue
    print(i)

print("...after the loop")

0
1
2
3
4
Go to next iteration
6
7
8
9
exits loop
...after the loop

# Functions and subroutines

* Functions are defined with the keyword **def** followed by the function name and parameters in brackets () followed by a colon (:)
* Function code is defined in subsequent code blocks

In [224]:
def print_doc():
    print("Detta är en utskrift från en funktion")

Calling a function

In [225]:
print_doc()

Detta är en utskrift från en funktion

Function with parameters

In [226]:
def print_value(a):
    print("Värdet är "+str(a))

Calling a function with parameters

In [227]:
b = 42
print_value(b)

Värdet är 42

Changing parameters in function(?)

In [228]:
def print_value(a):
    print("Värdet är "+str(a))
    a = 84

Calling a function

In [229]:
b = 42
print_value(b)

Värdet är 42

## Return values

In [230]:
from math import *

def f(x):
    return sin(x)

x = pi/2
y = f(x)

print(y)

1.0

Functions can be used in complex expressions.

# Organising code in modules

## Using modules (import)

Modules are library of code in Python. They can be built-in or add-ons. To use a module, it must be imported. In the following example, we import the Python math module **math** with the **import** statement.

In [ ]:
import math

print(math.sin(math.pi/2))

This form of import requires that all functions in the module are prefixed with the module name. In this case **math**. It is also possible to import all functions into a module without the prefix with the **from** import declaration.

In [ ]:
from math import *

print(sin(pi/2))

The \* in the **from** statement specifies that Python will import all functions from the module. This can be a problem as the import of functions using **from** can collide with already imported functions. It is also possible to explicitly import certain functions by listing them after the import word in a **from** statement.

In [ ]:
from math import sin, sqrt

print(sqrt(2))

All Python source files can be used as modules

The following code is an example of a module **prime.py** that contains the function **is_prime()** to check if an integer value is a prime number.

    # -*- coding: utf-8 -*-

    from math import sqrt

    def is_prime(n):

        prime = True

        k = 2
        while k<=sqrt(n) and prime:
            if (n % k == 0):
                prime = False
                break
            k+=1      

        return prime

Before we import it, we need to upload it to our notebook:

In [ ]:
!wget https://raw.githubusercontent.com/jonaslindemann/guide_to_python/master/chapters/kapitel3/notebooks/prime.py

We can now use this module with the following statements:

In [231]:
import prime

We can now use the function in the module:

In [232]:
print(prime.is_prime(3))

True

In [233]:
print(prime.is_prime(8))

False

## Main program and scripts in Python

Python executes all code in a module or source file. Most other languages often define a main function that is run by the operating system. In Python, some source file is often considered the main module where the program has its starting point. In many cases, Python modules can be executed as scripts or imported as a module. If a module is imported, you often only want access to the built-in functions and not executable statements to run.

When a python source file is imported, a specific variable, **__main__**, is assigned the name of the module. If the same source file is executed as a script, the variable will contain "main".

We modify copy our prime.py module and create prime_extra.py with an extra print declaration that prints the name variable.

    # -*- coding: utf-8 -*-

    from math import sqrt
    
    print(__name__)

    def is_prime(n):

        prime = True

        k = 2
        while k<=sqrt(n) and prime:
            if (n % k == 0):
                prime = False
                break
            k+=1      

        return prime

In [ ]:
!wget https://raw.githubusercontent.com/jonaslindemann/guide_to_python/master/chapters/kapitel3/notebooks/prime_extra.py

In [ ]:
!wget https://raw.githubusercontent.com/jonaslindemann/guide_to_python/master/chapters/kapitel3/notebooks/prime_main.py

In [234]:
import prime_extra

If we now execute the same file with the Python interpreter, we get a different result:

In [235]:
run prime_extra

__main__

That way we can create python source files that can both be imported and used as scripts. This is also a precaution to ensure that a python source file does not execute code incorrectly when imported as a module.

Many Python projects often have a main python script to launch the main application. A typical master program (prime_main.py) is shown below:

    # -*- coding: utf-8 -*-
    
    import prime
    
    if __name__ == "__main__":
        
        print(prime.is_prime(6))
        print(prime.is_prime(5))
        
The code in the if-statement is only executed when run as a script.

In [241]:
run prime_main

False
True

In [242]:
import prime_main

 # Formatting output data

When printing, printing is often required in some way. Python contains many ways to do this. In Python 3, this is done using the **.format()** method of a string object. In the following example, values are placed in the string with placeholders \{ \}

In [243]:
a = 2.0
b = 45.0
c = 1500
d = "My string"

form_string = "{}, {}, {}, {}".format(a, b, c, d)

print(form_string)

2.0, 45.0, 1500, My string

You can also refer to the variable with indices in the placeholders.

In [244]:
form_string = "{3}, {2}, {1}, {0}".format(a, b, c, d)
print(form_string)

My string, 1500, 45.0, 2.0

## String formatting

For string variables, a width can be given for printing. The given string will then be placed within the specified width. By default, the string is left-aligned in the field. In the following example, the string "Python 3" is placed in a 15-character wide field with different formatting options

In [245]:
form_string = ">{:15}<".format("Python 3")
print(form_string)

>Python 3       <

Right alignment is done by using > in the placeholder.

In [246]:
form_string = ">{:>15}<".format("Python 3")
print(form_string)

>       Python 3<

Centering is achieved by using the ^ operator

In [247]:
form_string = ">{:^15}<".format("Python 3")
print(form_string)

>   Python 3    <

To fill in, enter a fill character in the placeholder:

In [248]:
form_string = ">{:_^15}<".format("Python 3")
print(form_string)

>___Python 3____<

## Formatting of integers

Just as for strings, printing of integers can also be controlled with placeholders. The placeholder for integers is **\{:d\}** as shown in the example below:

In [249]:
form_string = ">{:d}<".format(42)
print(form_string)

>42<

The field width can also be controlled just as for strings:

In [250]:
print(">{:10d}<".format(42))
print(">{:>10d}<".format(42))
print(">{:<10d}<".format(42))
print(">{:^10d}<".format(42))
print(">{:_<10d}<".format(42))

>        42<
>        42<
>42        <
>    42    <
>42________<

## Formatting floating point values

Fixed form of floating point is formatted using the **\{:f\}** placeholder. Field width and number of decimal places can be specified. In the following example, the field width 10 and the number of decimal places are varied from 2 to 6.

In [251]:
print(">{:10.2f}<".format(3.141592653589793))
print(">{:10.4f}<".format(3.141592653589793))
print(">{:10.6f}<".format(3.141592653589793))

>      3.14<
>    3.1416<
>  3.141593<

Scientific notation can be specified with the placeholder **{:e}**.

In [252]:
print(">{:15.2e}<".format(3.141592653589793))
print(">{:15.4e}<".format(3.141592653589793))
print(">{:15.6e}<".format(3.141592653589793))

>       3.14e+00<
>     3.1416e+00<
>   3.141593e+00<

## Named placeholders

To support more complex formatting, it is possible to use named placeholders with the **.format()** method. Parameters must then be named in the call to the **.format()** method:

In [253]:
print("({x}, {y})".format(x = 0.0, y = 2.0))

(0.0, 2.0)

It is also possible to directly use a dictionary in the **.format()** method.

In [254]:
params = {"value1": 42, "value2": 3.14, "value3": "Python"}
print("{value1}, {value2}, {value3}".format(**params))

42, 3.14, Python

Everything in Python is stored in lookup lists, even the variables are defined in a lookup list. In the following example, variables are defined in the script and the glossary of global variables can be returned with the **globals()** function.

In [258]:
value1 = 34
value2 = 84
value3 = "Easy as pie!"
print("{value1}, {value2}, {value3}".format(**globals()))

34, 84, Easy as pie!

# Reading and writing files

One of the most important tasks in many applications is the ability to read and write files. To read and write files in Python, a special file object must be created. This file object creates a link between Python and a file in the file system. With this object you can then write and read from the selected file.

A file object is created with the **open()** statement.

## Writing to a file

Text files are stored as rows of text. A text file can be opened for writing with the **open()** function.

In [ ]:
text_file = open("myfile.txt", "w")

**text_file** is now our link to the file **myfile.txt** to which we will write.

Writing to the file is done using the **.write()** method. The method basically acts as the **print()** function except that it adds aging to the control character for a new row after the call. New rows must specify the strings that are written to the file. In the following code writes to the file 3 times to print 2 lines.

In [ ]:
text_file.write("Filens innehåll. ")
text_file.write("Detta skrivs ut på samma rad.\n")
text_file.write("Denna text kommer på en ny rad")

When we are ready to write to our file, it must be closed so that the operating system does not think it is still open. This is done with the meotden **.close()**.

In [ ]:
text_file.close()

The contents of the file is now:

In [ ]:
!cat myfile.txt

## Reading from a file

Opening a file for reading also happens with the **open()** function and the extra parameter "r"

In [ ]:
text_file = open("myfile.txt", "r")

The entire file can be read into a string using the **.read()** method.

In [ ]:
content = text_file.read()
text_file.close()

print(content)

Using **.read()** for large files can be very inefficient as the entire file must be stored in a single string. Then it is better to use the **.readline()** method to read one line at a time.

In [ ]:
text_file = open("myfile.txt", "r")

line = text_file.readline()
while line!='':
    print(">"+line)
    line = text_file.readline()
    
text_file.close()

The line between the print statements is because **.readline()** also reads any return characters from the files. We can use **.rstrip()** to remove these control characters.

In [ ]:
text_file = open("myfile.txt", "r")

line = text_file.readline().rstrip()

while line!='':
    print(">"+line)
    line = text_file.readline().rstrip()

text_file.close()

It is also possible to iterate over a file using the statement:

In [ ]:
text_file = open("myfile.txt", "r")

for line in text_file:
    print(">"+line.rstrip())

text_file.close()

Det går att läsa in hela filen till en lista av strängar genom att använda metoden **.readlines()** på filobjektet.

In [ ]:
text_file = open("myfile.txt", "r")
lines = text_file.readlines()
text_file.close()

print(lines)

## Open files using the with-statement

Closing files after use is very important. To ensure that **.close()** will always be called, a special language construct, the **with** statement can be used. The code block for a ** with ** statement guarantees that the **.close()** method is always called.

The following code opens a file with the **with** statement

In [ ]:
with open("myfile.txt", "r") as text_file:
    lines = text_file.readlines()

print(lines)

# Error handling

Error management is often handled by calling features to investigate error status and then taking action depending on what the function returns. Handling errors in this way often makes the code easily complex. The following example checks whether a file exists before opening it. However, there may be several reasons why a file cannot be opened, which is not handled by the example:

In [ ]:
import os

filename = "myfil.txt"

if os.path.exists(filename):
    with open(filename, "r") as text_file:
        lines = text_file.readlines()
else:
    print("Filen "+filename+" hittades inte!")

## Error handling with exceptions

The most common way to handle errors in Python is through exceptions. Most features in Python generate exceptions when an error occurs. You probably have these when your code doesn't work. If you run the following example, an exception is generated.

In [ ]:
with open("myfil.txt", "r") as text_file:
    lines = text_file.readlines()

FileNotFoundError is an exception. We can improve our code to handle all exceptions by using the **try..except** statement.

In [ ]:
try:
    with open("myfil.txt", "r") as text_file:
        lines = text_file.readlines()
except:
    print("Filen kunde inte öppnas")

The problem with the above code is it captures **all** exceptions. The errors cannot be distinguished.

## Handling specific exceptions

You can specify which exceptions you are interested in by modifying the **try..except** statement according to:

In [ ]:
try:
    with open("myfil.txt", "r") as text_file:
        lines = text_file.readlines()
except FileNotFoundError:
    print("Filen hittades inte.")

The code can be extended to even handle the PermissionDenied exception that is generated if you do not have permission to read a file. More exceptions are specified with more **except** blocks in the code for the specific exceptions.

In [ ]:
try:
    with open("myfil.txt", "r") as text_file:
        lines = text_file.readlines()
except FileNotFoundError:
    print("Filen hittades inte.")
except PermissionError:
    print("Vi har inte rätt att läsa filen.")

In this way we can handle various exceptions more fine-grained.

## Additional information from exceptions

Many exceptions send with extra information with the exception. To get this information, we need to add an exception item in the **try..except** statement:

In [ ]:
try:
    with open("myfil.txt", "r") as text_file:
        lines = text_file.readlines()
except FileNotFoundError as e:
    print("Filen", e.filename, "kunde inte öppnas.")
except PermissionError as e:
    print("Felsträngen är '"+e.strerror+"'")

## Ensuring code execution after an execption

Python also offers the **try..finally** statement, which ensures that the code in the **finally** block is always executed even if an exception is generated. The following examples illustrate this.

In [ ]:
!wget https://raw.githubusercontent.com/jonaslindemann/guide_to_python/master/chapters/kapitel3/notebooks/numbers.txt

In [ ]:
try:
    input_file = open("numbers.txt", "r")
    output_file = open("sums.txt", "w")
    lines = input_file.readlines()
    for line in lines:
        items = line.strip().split()
        numbers = []
        for item in items:
            numbers.append(int(item))
        
        output_file.write("%d\n" % sum(numbers))
except ValueError:
    print("Felaktiga indata på rad", line)
finally:
    print("Stäng öppna filer.")
    input_file.close()
    output_file.close()